# Taxi Exercise

## Prerrequisites

Install Java and Spark in VM

In [1]:
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark 3.5.3
!wget -q https://dlcdn.apache.org/spark/spark-3.5.3/spark-3.5.3-bin-hadoop3.tgz

In [4]:
# unzip it
!tar xf spark-3.5.3-bin-hadoop3.tgz

In [5]:
!pip install -q findspark

In [7]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.3-bin-hadoop3"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

Start Spark Session

---

In [8]:
import findspark
findspark.init("spark-3.5.3-bin-hadoop3")# SPARK_HOME

from pyspark.sql import SparkSession

# create the session
spark = SparkSession \
        .builder \
        .appName("Joins") \
        .master("local[*]") \
        .config("spark.ui.port", "4500") \
        .getOrCreate()

spark.version

'3.5.3'

In [9]:
spark

In [10]:
# Import sql functions
from pyspark.sql.functions import *

In [11]:
!mkdir -p dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/taxi_data.csv -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/taxi_zones.csv -P /dataset
!ls /dataset

taxi_data.csv  taxi_zones.csv

Load the datasets

In [12]:
taxiDF = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("/dataset/taxi_data.csv")

taxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [13]:
taxiDF.show(2)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2018-01-24 23:02:56|  2018-01-24 23:10:58|              1|         2.02|         1|                 N|          48|         107|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.8|
|       2| 2018-01-24 23:57:13|  2018-01-25 00:21:17|              1|        10.13|         1|                 N|          79|         244|           2|       28.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        29.8|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 2 rows

In [14]:
taxiZonesDF = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("/dataset/taxi_zones.csv")

taxiZonesDF.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [15]:
taxiZonesDF.show(3)

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+
only showing top 3 rows

## Exercise

In this exercise we will be working with two DFs. The first one, taxiDf holds info about taxi rides per 2018 year. And the second, taxiZonesDF, have info about the Zones. Please load the DFs and print the schemas and two (or more) rows for more detailed info.

The aim of the exercise is to answer the questions listed below.

**Questions:**

 1. Which zones have the most pickups/dropoffs overall? Note there are many PULocationIDs per Zone?
 2. What are the peak hours for taxi?
 3. How are the trips distributed by length? Show stats like mean, max, min, etc.
    Then get the total trips for less/more than 30 km. Why are people taking the cab? For long or short trips?
    You can also try the same with different distances. Which is the expected value for threshold is we want to obtain more or less the same trips in long/short counting?
 4. What are the peak hours for long/short trips?
 5. What are the top 3 pickup/dropoff zones for long/short trips?
 6. How are people paying for the ride, on long/short trips? Hint: the information about how good is the payment is in RatecodeID column.
 7. How is the payment type (RatecodeId) evolving with time (in days)? Hint: use the column with pickup time info.
    Get the same info but with avg of ratecode and total trips per day.

### Question 1

### Question 2

### Question 3

### Question 4

### Question 5

### Question 6

### Question 7